body  {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    
}



/* cross-stitch-designer section */
.cross-stitch-designer-page .controls {


    margin-bottom: 20px;
}   

.cross-stitch-designer-page #pixel-canvas {
    display:grid;

    grid-template-columns:repeat(var(--grid-rows),20px);
    grid-template-rows:repeat(var(--grid-rows),20px);

    
    user-select: none;  
}

.cross-stitch-designer-page .pixel {
    width:20px;
    height:20px;
    background-color: white;
    cursor: pointer;
}

.cross-stitch-designer-page .pixLabel {
    width:20px;
    height:20px;
    background-color: white;
    cursor: pointer;
}

.cross-stitch-designer-page #imageUpload {
    position: fixed;
    z-index: 1000;

    /* FOR OLD BROWSERS */
    top: 0vh;
    right: 0vh;

    /* FOR NEW DYNAMIC BROWSERS */
    top: 0dvh;
    right: 0dvh;
}

.cross-stitch-designer-page #colorPicker {
    position: fixed;
    z-index: 1000;
    
    /* FOR OLD BROWSERS */
    top: 0vh;
    left: 7vh;

    /* FOR NEW DYNAMIC BROWSERS */
    top: 0dvh;
    left: 7dvh;
}

.cross-stitch-designer-page #eraser {
    position: fixed;
    z-index: 1000;
    
    /* FOR OLD BROWSERS */
    top: 0vh;
    left: 14vh;

    /* FOR NEW DYNAMIC BROWSERS */
    top: 0dvh;
    left: 14dvh;
}

.cross-stitch-designer-page #pencil {
    position: fixed;
    z-index: 1000;
    
    /* FOR OLD BROWSERS */
    top: 0vh;
    left: 0vh;

    /* FOR NEW DYNAMIC BROWSERS */
    top: 0dvh;
    left: 0dvh;
}

.cross-stitch-designer-page #showHideControls {
    position: fixed;
    z-index: 1000;
    
    /* FOR OLD BROWSERS */
    top: 0vh;
    right: 25vh;

    /* FOR NEW DYNAMIC BROWSERS */
    top: 0dvh;
    right: 28dvh;
}

.cross-stitch-designer-page #tempMobile {
    position: fixed;
    bottom: 5vh;
    left: 5vh;
    bottom: 5dvh;
    left: 5dvh;
    z-index: 1000;
}

/*recipe-page section*/
.recipe-page {
    background-image: url("images/woodtexture.jpg");
}

.recipe-page #top-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20vw;
}

.recipe-page #title-and-info {
    flex: 1;
    background-image: url('images/ripped-pattern2.png');
    background-size: cover;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-left: 10%;
    word-wrap: break-word;
}

.recipe-page .titleinfoclass {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    text-shadow: 1px 1px 2px #fffbfb;
    padding-inline: 20px;
}

.recipe-page .half-break {
    height: .5em;
}

.recipe-page #title {
    font-size: 40px;
    margin-top: 2%;
    margin-right: 20px;
}

.recipe-page #info-image-padding {
    flex: 1;
}

.recipe-page #title-photo {
    border-radius: 15px;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-right: 10%;
    background-color: #c4b1a8;
}

.recipe-page #photo {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 97%;
    
}

.recipe-page #dynamic-recipe {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 80vw;
    background-image: url(images/paper-pattern.png);
    background-size: cover;
    background-position: center;
}

.recipe-page #top-bar {
    border-radius: 10px 10px 0px 0px;

    box-shadow: inset 0px -6px 5px -1px rgba(0, 0, 0,0.5);
    width: 100%;
    height:2vh;
}

.recipe-page #left-bar  {
    

    box-shadow: inset -6px 0px 5px -1px rgba(0, 0, 0,0.5);
    height: 100%;
}

.recipe-page #right-bar  {
    


    box-shadow: inset 6px 0px 5px -1px rgba(0, 0, 0,0.5);
    height: 100%;
}

.recipe-page #bottom-bar {
    border-radius: 0px 0px 10px 10px;

    box-shadow: inset 0px 6px 5px -1px rgba(0, 0, 0,0.5);
    width: 100%;
    height:2vh;
}

.recipe-page #bar-content-columns {
    display: grid;
    grid-template-columns: .1fr 8fr .1fr;
}

.recipe-page #dynamic-contents {
    
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
}

.recipe-page #ingredients {
    
    /* x-off, y-off, blur, */
    box-shadow: inset -60px 0px 130px 40px rgb(148, 106, 75);
    
    flex: 1;
    overflow-wrap: break-word;
    min-width: 0;
    padding: 2%;
    
}

.recipe-page #center-line {
    width:1px;
    background-color: rgb(143, 103, 74);
}

.recipe-page #directions {
    box-shadow: inset 60px 0px 130px 40px rgb(148, 106, 75);
    flex: 1;
    overflow-wrap: break-word;
    min-width: 0;
    padding: 2%;
}

.recipe-page #ingredient-text {
    color: #251c22;
    text-shadow: 1px 1px 2px #585858;
    white-space: pre-line;
    font-family: Garamond, serif;
    font-size: clamp(18px, 2vw, 25px)
}

.recipe-page #direction-text {
    color: #251c22;
    text-shadow: 1px 1px 2px #585858;
    white-space: pre-line;
    font-family: Garamond, serif;
    font-size: clamp(18px, 2vw, 25px)
}

@media (max-width: 600px) {
    .recipe-page #top-container {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 8px;
    }

    .recipe-page #title-and-info {
        width: 102%;
        background-size:fill;
        margin-left:0;
        float: left;
    }

    .recipe-page #dynamic-recipe{
        margin-top: 20px;
        width: 100%;
    }

    .recipe-page #dynamic-contents {
        grid-template-columns: 1fr; 
    }

    .recipe-page #center-line {
        display: none;
    }
}


.home-page {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}


.home-page #banner-container {
    display:flex;
    height:30vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

.home-page .banner-text {
    flex:0 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    z-index: 1;
    text-shadow: 0 0 8px rgba(241, 181, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: black;
}

.home-page #animation-canvas {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 0;
    
}

.home-page #divider {
    height: 1vw;
    width: 100%;
    box-shadow: inset 0px 8px 7px -1px rgba(0, 0, 0,1);
    background-color: rgba(255, 255, 255, 0.8);
    
}

.home-page #projects-label-container {
    height: 4vw;
    width: 100%;
    margin-top: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page #box-container {
    display: flex;
    height: 20vw;
    width: 100%;
    
}

.home-page .box-anchor {
    
    padding-bottom: 4%;
    margin: 4%;
    flex: 1;
    height: 100%;
    border-radius: 3%;
}

.home-page .box {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    display: flex;
    flex:10 1;
    flex-direction: column;
    align-items: end;

    overflow: hidden;
    
}

.home-page .box-text-container {
    background-color: rgb(255, 255, 255);
    background-blend-mode: darken;
    flex: 1;
    height:20%;
    width:100%;
    text-align: center;
    box-shadow: inset 0px 0px 30px 5px black;
}

.home-page .blur-filter-div {
    filter: blur(2px);
    box-shadow: inset -60px 0px 130px 40px black;
}

.home-page .box-text {
    overflow-wrap: break-word;
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: clamp(18px, 2vw, 25px);
}
    


    